canvas {
  width: 80% !important;
  display: block;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80%;
  right: 0;
  height: 100%;
  padding: 10px;

  hr {
    border: 1px solid black;
    border-radius: 10px;
  }

  .model-list {
    padding: 5px 0;

    .header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 10px;
    }

    h2 {
      text-align: center;
    }

    .object-card {
      margin: 5px 0;
      box-shadow: -1px 0 5px rgba(212, 212, 212, 0.66);
      border-radius: 5px;

      .active {
        background: #66BB6A;
      }

      .removeButton {
        float: right;
        background: white;
        color: red;
        border: none;
        outline: none
      }

      .title {
        padding: 10px;
      }

      :hover {
        background: #66BB6A;
        border-radius: 5px;
        cursor: pointer;
        transition: background 250ms;
      }
    }
  }
}

.action-menu {
  position: absolute;
  bottom: 100px;
  right: 500px;
}
